*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Opens sans', sans-serif;

}

.flex{
    display: flex;
    padding: 0.5rem;
}

.flex-column{
    flex-direction: column;
}

h1{
    color: rgb(40, 183, 250);
}

main > div{
    align-items: center;
}

form{
    width: 50%;
    margin: 0 auto;
    padding: .5rem;
    align-items: center;
    background-color: rgb(192, 192, 192);
}

form div{
    align-content: center;
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 1.5rem;
}

form label{
    color: rgb(40, 183, 250);
}

input, textarea{
    border: solid .1rem;
    padding: 0.3rem;
    border-radius: 00.3rem;
}

.h-1-5{
    height: 1.5rem;
}

.div-sub{
    padding: 0;
    margin: 0;
    text-align: center;
}

.div-sub input{
    width: 37.5rem;
    background-color: rgb(2, 132, 192);
    height: 2.5rem;
    font-size: large;
    font-weight: bold;
    color: #ffffff;
}